<header class="header">
  <nav class="navbar">
     Brand logo with correct routerLink binding
   <a class="brand-logo" routerLink="/">mystore</a>


     <ul class="nav-links">
      <li>
        <a routerLink="/products" routerLinkActive="active" aria-current="page">Products</a>
      </li>
      <li>
        <a routerLink="/cart" routerLinkActive="active" aria-current="page">Cart</a>
      </li>
      <li>
        <a routerLink="/account" routerLinkActive="active" aria-current="page">Account</a>
      </li>
    </ul>

  <!-- Search bar -->
   <div class="search-container">
      <input type="text" placeholder="Search products..." class="search-input" />
      <button class="search-button" >Search</button>



    </div>
  </nav>
</header>

